@charset "utf-8";

.title {
	padding: 0;
	height: 1000px;
	width: 1000px;
}

a:link {
	color: rgb(14, 13, 5)
}

a:visited {
	color:rgb(5, 21, 26)
}

a:hover {
	color:#778f17
}

body {
	background-image: url("background.jpg");
	background-size:     cover;  
}

header {
	position: absolute;
	background-color: #d58f0d;
	margin-top: 30px;
	margin-left: 500px;
	margin-right: 0px;
	padding-left: 50px;
	height: 90px;
    width: 700px;
}


.images {
	margin-top: 150px;
	margin-left: 500px;
	width: 50%;
	position: relative;
	float: left;
}


.images img {
	height: 100%;
	width: 200%;
	width: 700px;
}

.mainexplanation {
	position: absolute;
	background-color: #a47b1c;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: larger;
	margin-top: 300px;
	margin-left: 1300px;
	padding-left: 30px;
	padding-right:30px;
	padding-top: 18px;
	width: 500px;
	height: 560px;
	float: left;
}

.navigation {
	position: absolute;
	background-color: #b98f12;
	font-family: Consolas, "Lucida Sans Typewriter", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	width: 350px;
	height: 200px;
	padding-left: 30px;
	margin-top: 180px;
	margin-left: 40px;
}




.outputtext {
	position: absolute;
	background-color:#7db01d;
	margin-top: 80px;
	margin-left: 20px;
	padding-left: 20px;
	height: 800px;
	width: 1470px;
	font-size:x-large;
	z-index: -1;
}
.pistontext {
	position: absolute;
	background-color:#2a3d06;
	margin-top: 80px;
	margin-left: 20px;
	padding-left: 20px;
	height: 800px;
	width: 1400px;
	z-index: -1;
}

.enginetext {
	position: absolute;
	background-color:#648b1a;
	margin-top: 80px;
	margin-left: 20px;
	padding-left: 20px;
	height: 800px;
	width: 1470px;
	font-size:x-large;
	z-index: -1;
}
.partstext {
	position: absolute;
	background-color:#43610b;
	margin-top: 80px;
	margin-left: 20px;
	padding-left: 20px;
	height: 800px;
	width: 1470px;
	font-size:x-large;
	z-index: -1;
}
.output {
	position: absolute
}

.outputimg img{
	margin-top: 150px;
	margin-left: 500px;
	width: 500px;
	position: absolute;
	float: left;
}

.partsnav {
	position: absolute;
	background-color:#9e9714;
	padding-left: 10px;
    height: 150px;
	width: 170px;
	margin-top: 100px;
	margin-left: 1300px;
    font-size: larger;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.outputnav {
	position: absolute;
	background-color:#9e9714;
	padding-left: 10px;
    height: 150px;
	width: 170px;
	margin-top: 100px;
	margin-left: 1300px;
    font-size: larger;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}


.enginenav {
	position: absolute;
	background-color:#b9b00f;
	padding-left: 10px;
    height: 150px;
	width: 170px;
	margin-top: 100px;
	margin-left: 1300px;
    font-size: larger;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}





